name: Elixir CI

on: push

jobs:
  ci:
    name: ci
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        include:
          - elixir: 1.10.4
            otp: 21.3
          - elixir: 1.11.4
            otp: 23.2
          - elixir: 1.12.0
            otp: 23.2
            check_formatted: true
            run_dialyzer: true
            run_credo: true
            run_coveralls: true
          - elixir: 1.12.0
            otp: 24.0
          - elixir: 1.13.0
            otp: 24.0
    steps:
      - uses: actions/checkout@v2
      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('**/mix.lock') }}
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix

      - name: Restore Dialyzer PLT cache
        uses: actions/cache@v2
        with:
          path: priv/plts
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plt-${{ hashFiles('**/priv/plts/dialyzer.plt.hash') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plt-${{ hashFiles('**/priv/plts/dialyzer.plt.hash') }}
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plt

      - name: Install dependencies
        run: mix deps.get

      - name: Check formatting
        run: mix format --check-formatted
        if: matrix.check_formatted

      - name: Run dialyzer
        run: mix dialyzer
        if: matrix.run_dialyzer

      - name: Run credo
        run: mix credo
        if: matrix.run_credo

      - name: Run tests
        run: mix test

      - name: Coveralls
        run: mix coveralls.github
        if: matrix.run_coveralls
        env:
          MIX_ENV: test
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
